.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0 30px;
    margin-left: 25px;
    margin-right: 17px;
}
.header .time {
    font-size: 19px;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 10px;
}
.header .icons {
    display: flex;

}
.header .icons i {
    font-size: 20px;
}
.battery {
    transform: translate(-50%, -50%);
    height: 17px;
    width: 33px;
    background: gray;
    /* border: 1px solid #868686; */
    border-radius: 7px;
    /* padding: 3px; */
    margin-top: 21px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
.battery::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 2px;
    background: #868686;
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 100% 100% 0;
}
.part {
    border-radius: 7px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 17px;
    width: 50%;
}

.radius {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}.battery span {
    position: absolute;
    left: 50%;
    top: 53.5%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.red {
    background: #f64e4e;
}
.green {
    background: rgb(231, 231, 231);
}
.orange {
    background: rgb(231, 231, 231);
}
.signal {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 3px;
}
.signal1 {
    height: 5px;
    width: 5px;
}
.signal2 {
    height: 9px;
    width: 5px;
}
.signal3 {
    height: 13px;
    width: 5px;
}
.signal4 {
    height: 17px;
    width: 5px;
}
.signal-item {
    margin-left: 3px;
    background: rgb(56, 56, 56);
    border-radius: 2px;
}
.active-signal {
    background: #fff;
}
.signal-wrapper {
    display: flex;
    align-items: end;
}


.wave {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 4px solid transparent;
    border-top-color: currentColor; /* Цвет можно задавать через currentColor */
    border-radius: 50%;
}

/* Настройка размеров для каждой волны */
.wv3 {
    width: 33px;
    height: 39px;
    margin-top: 10px;
    border-top-color: rgb(255, 255, 255); /* Устанавливаем цвет для этой волны */
}

.wv2 {
    width: 20px;
    height: 30px;
    margin-top: -40px;
    border-top-color: rgb(255, 255, 255); /* Устанавливаем другой цвет */
}

.wv1 {
    border: 13px solid transparent;
    width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #fff;
    margin-top: -31px;
}

.none {
    border-top-color: rgb(56, 56, 56);
}