@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.container {
    font-family: 'SF Pro Display', sans-serif;

    color: #fff;
    background-color: #000;
}

.blue-header {
    background-color: #111417;
}

.watch-results {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-radius: 8px;
    background-color: #111417;
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.time {
    font-size: 18px;
}

.order-time {
    color: #757575;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.span-time {
    margin-top: 6px;
}
.pnl-value {
    font-size: 20px;
    font-weight: bold;
}

.order-data-wrapper {
    display: flex;
    justify-content: space-between;
}

.icons i {
    margin-left: 10px;
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 15px;
}

.back-arrow {
    font-size: 20px;
    cursor: pointer;
}

.nav-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #f6b743;
}

.tabs, .sub-tabs {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.tabs {
    display: flex;
    justify-content: start;
}

.tabs span, .sub-tabs span {
    padding: 5px 10px;
    color: #757575;
    cursor: pointer;
}
.tabs span, .sub-tabs span:first-child {
    padding-left: 0;
}


.tabs span {
    font-size: 25px;
    font-weight: 600;
}

.tabs .active {
    color: #fff;
}
.active-bl {
    width: 34px;
    border-bottom: 2px solid orange;
    position: relative;
    top: 10px;
}
.active-bl span {
    position: relative;
    top: -4px;
}

.sub-tabs .active {
    color: #fff;
    font-weight: bold;
}

/* Меню с тремя элементами */
.trade-menu {
    padding: 10px;
    margin: 10px 0;
    border-top: 1px solid #313131;
    height: 30px;
}
.trade-wrap {
    margin-left: 10px;
    width: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.trade-menu span {
    color: #c1c1c1;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Карточки ордеров */
.order-card {
    background-color: #1a1a1a;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.order-header div:first-child {
    display: flex;
    align-items: center;
}

.order-status {
    white-space: nowrap;
    margin-left: 10px;
    padding: 4px;
    border-radius: 4px;
    font-weight: 500;
    color: rgb(176, 84, 84);
    font-weight: bold;
    background: rgba(87, 28, 28, 0.5);
    font-size: 13px;
}
.pair {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
}
.info {
    font-size: 14px;
    color: #757575;
    white-space: nowrap;
}
.small {
    font-size: 10px;
}
.supersmall {
    font-size: 8px;
}

.order-details .order-data-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
.wrap {
    display: flex;
    flex-direction: column;
}
.wrap:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.wrap-center {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.wrap span:first-child {
    color: #ababab;
}
.wrap span:last-child {
    margin-top: 5px;
    font-size: 20px;
}
.wrap-center span:first-child {
    color: #ababab;
}
.wrap-center span:last-child {
    margin-top: 5px;
    font-size: 20px;
}
.orders-list {
    padding: 0px 20px;
    margin-top: 20px;
}

.order-data-item span:last-child {
    margin-top: 3px;
}

.pnl-value {
    color: rgb(176, 84, 84);
    font-size: 22px;
}
.plus {
    color: rgb(53 169 118);
}

.order-hr {
    border: 1px solid #2a2a2a;
    margin-top: 15px;
    margin-bottom: 15px;
}
.order-data-item-def {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.order-data-item-def:last-child {
    margin-bottom: 0;
}
.order-data-item-def span:first-child {
    color: #ababab;
}

.order-form {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.order-form input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

.order-form button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.order-time-input {
    width: 200px;
    height: 40px;
    margin-left: 10px;
}
label {
    margin-left: 100px;
}
.short {
    color: rgb(24 137 88);
    background: rgba(5, 72, 45, 0.5);
}
.order-plus {
    color: rgb(24 137 88);
    background: rgba(5, 72, 45, 0.5);
}
.order-minus {
    color: rgb(176, 84, 84);
    font-weight: bold;
    background: rgba(87, 28, 28, 0.5);
}
.nav-title {
    color: #e7ab3b;
}
.botArrow {
    margin-left: 10px;
    width: 8px;
}
.history-page input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.history-page select {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.history-page h3 {
    margin-top: 70px;
}
.navigation {
    margin-top: 0;
}
.top-img {
    width: 60px;
    margin-right: -15px;
}
.nav-title {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.doc {
    width: 30px;
}
.tabs {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
    align-items: center;
}
.newicon {
    margin-right: -15px;
    margin-left: -8px;
    width: 45px;
}
.smallIMG {
    width: 40px;
}
.supersmallIMG {
    width: 35px;
}
.history-page .management {
    display: flex;
    align-items: center;
}
.history-page .management span {
    margin-bottom: 2px;
}
.iphone-line {
    width: 220px;
    border-radius: 10px;
    height: 8px;
    background: #fff;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}